<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openStreetMap</key>
	<dict>
		<key>boundingBox</key>
		<array>
			<real>48.8575</real>
			<real>2.3877</real>
			<real>48.8649</real>
			<real>2.4006</real>
		</array>
		<key>fetchedTags</key>
		<array>
			<string>historic=tomb</string>
			<string>historic=memorial</string>
		</array>
	</dict>
	<key>wikidata</key>
	<dict>
		<key>languages</key>
		<array>
			<string>fr</string>
			<string>en</string>
		</array>
		<key>customSecondaryWikidataIds</key>
		<dict>
			<key>Q15860323</key>
			<array>
				<string>Q16204221</string>
			</array>
		</dict>
		<key>categories</key>
		<dict>
			<key>Q1028181</key>
			<array>
				<string>art</string>
			</array>
			<key>Q105186</key>
			<array/>
			<key>Q10732476</key>
			<array/>
			<key>Q10800557</key>
			<array>
				<string>cinema</string>
			</array>
			<key>Q10872101</key>
			<array>
				<string>research</string>
			</array>
			<key>Q11063</key>
			<array>
				<string>research</string>
			</array>
			<key>Q1114448</key>
			<array>
				<string>medias</string>
			</array>
			<key>Q11481802</key>
			<array/>
			<key>Q11569986</key>
			<array>
				<string>art</string>
			</array>
			<key>Q11774202</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q12020057</key>
			<array/>
			<key>Q1209498</key>
			<array/>
			<key>Q121594</key>
			<array/>
			<key>Q1225716</key>
			<array/>
			<key>Q1229025</key>
			<array/>
			<key>Q1234713</key>
			<array/>
			<key>Q12362622</key>
			<array/>
			<key>Q12377274</key>
			<array>
				<string>music</string>
			</array>
			<key>Q1259917</key>
			<array>
				<string>music</string>
			</array>
			<key>Q12800682</key>
			<array>
				<string>music</string>
			</array>
			<key>Q1281618</key>
			<array>
				<string>art</string>
			</array>
			<key>Q1297719</key>
			<array/>
			<key>Q131524</key>
			<array/>
			<key>Q133485</key>
			<array/>
			<key>Q13391399</key>
			<array>
				<string>music</string>
			</array>
			<key>Q13416354</key>
			<array>
				<string>research</string>
			</array>
			<key>Q13418253</key>
			<array/>
			<key>Q13472585</key>
			<array/>
			<key>Q1350189</key>
			<array>
				<string>research</string>
			</array>
			<key>Q13582652</key>
			<array>
				<string>urbanism</string>
			</array>
			<key>Q13638192</key>
			<array>
				<string>research</string>
			</array>
			<key>Q1371378</key>
			<array>
				<string>research</string>
			</array>
			<key>Q14085739</key>
			<array/>
			<key>Q14089670</key>
			<array/>
			<key>Q1415090</key>
			<array>
				<string>cinema</string>
			</array>
			<key>Q1420621</key>
			<array/>
			<key>Q14467526</key>
			<array>
				<string>research</string>
			</array>
			<key>Q14565331</key>
			<array>
				<string>research</string>
			</array>
			<key>Q14623005</key>
			<array/>
			<key>Q1475726</key>
			<array/>
			<key>Q14915627</key>
			<array>
				<string>music</string>
			</array>
			<key>Q15212951</key>
			<array/>
			<key>Q15296811</key>
			<array>
				<string>art</string>
			</array>
			<key>Q15472169</key>
			<array>
				<string>art</string>
			</array>
			<key>Q15627169</key>
			<array/>
			<key>Q15632482</key>
			<array>
				<string>research</string>
			</array>
			<key>Q15632632</key>
			<array/>
			<key>Q15855449</key>
			<array>
				<string>performing_arts</string>
			</array>
			<key>Q158852</key>
			<array>
				<string>music</string>
			</array>
			<key>Q15895020</key>
			<array/>
			<key>Q15949613</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q15958185</key>
			<array/>
			<key>Q15962340</key>
			<array/>
			<key>Q15978391</key>
			<array>
				<string>medias</string>
			</array>
			<key>Q15981151</key>
			<array/>
			<key>Q16023925</key>
			<array>
				<string>performing_arts</string>
			</array>
			<key>Q16031530</key>
			<array/>
			<key>Q1607826</key>
			<array>
				<string>medias</string>
			</array>
			<key>Q16145150</key>
			<array>
				<string>music</string>
			</array>
			<key>Q1622272</key>
			<array/>
			<key>Q16271261</key>
			<array>
				<string>research</string>
			</array>
			<key>Q16287483</key>
			<array>
				<string>medias</string>
			</array>
			<key>Q16533</key>
			<array/>
			<key>Q1662561</key>
			<array>
				<string>research</string>
			</array>
			<key>Q169470</key>
			<array>
				<string>research</string>
			</array>
			<key>Q16947657</key>
			<array/>
			<key>Q1708232</key>
			<array>
				<string>art</string>
			</array>
			<key>Q170790</key>
			<array>
				<string>research</string>
			</array>
			<key>Q17093672</key>
			<array>
				<string>music</string>
			</array>
			<key>Q17307272</key>
			<array/>
			<key>Q173950</key>
			<array>
				<string>art</string>
			</array>
			<key>Q175151</key>
			<array/>
			<key>Q1760363</key>
			<array>
				<string>performing_arts</string>
			</array>
			<key>Q177220</key>
			<array>
				<string>music</string>
			</array>
			<key>Q1780490</key>
			<array>
				<string>politics</string>
			</array>
			<key>Q1781198</key>
			<array>
				<string>research</string>
			</array>
			<key>Q1792450</key>
			<array/>
			<key>Q18120029</key>
			<array/>
			<key>Q182436</key>
			<array/>
			<key>Q185351</key>
			<array/>
			<key>Q18805</key>
			<array/>
			<key>Q188094</key>
			<array>
				<string>research</string>
			</array>
			<key>Q18814623</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q18844224</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q189290</key>
			<array>
				<string>military</string>
			</array>
			<key>Q18939491</key>
			<array/>
			<key>Q1925963</key>
			<array>
				<string>art</string>
			</array>
			<key>Q1930187</key>
			<array>
				<string>medias</string>
			</array>
			<key>Q193391</key>
			<array>
				<string>politics</string>
			</array>
			<key>Q19435686</key>
			<array/>
			<key>Q1979607</key>
			<array/>
			<key>Q201788</key>
			<array>
				<string>research</string>
			</array>
			<key>Q205375</key>
			<array>
				<string>research</string>
			</array>
			<key>Q2055046</key>
			<array>
				<string>research</string>
			</array>
			<key>Q211423</key>
			<array/>
			<key>Q2114605</key>
			<array/>
			<key>Q212980</key>
			<array/>
			<key>Q214917</key>
			<array>
				<string>theatre</string>
			</array>
			<key>Q214970</key>
			<array/>
			<key>Q222344</key>
			<array>
				<string>cinema</string>
			</array>
			<key>Q22272441</key>
			<array/>
			<key>Q222836</key>
			<array/>
			<key>Q2259451</key>
			<array>
				<string>theatre</string>
			</array>
			<key>Q2259532</key>
			<array/>
			<key>Q22813352</key>
			<array/>
			<key>Q2306091</key>
			<array>
				<string>research</string>
			</array>
			<key>Q2310145</key>
			<array>
				<string>research</string>
			</array>
			<key>Q23305046</key>
			<array/>
			<key>Q2358549</key>
			<array/>
			<key>Q2374149</key>
			<array>
				<string>research</string>
			</array>
			<key>Q23833535</key>
			<array/>
			<key>Q245068</key>
			<array>
				<string>theatre</string>
			</array>
			<key>Q2490358</key>
			<array>
				<string>performing_arts</string>
			</array>
			<key>Q2500638</key>
			<array/>
			<key>Q2516866</key>
			<array/>
			<key>Q2526255</key>
			<array>
				<string>cinema</string>
			</array>
			<key>Q2576499</key>
			<array/>
			<key>Q2627699</key>
			<array/>
			<key>Q2640827</key>
			<array/>
			<key>Q2664701</key>
			<array/>
			<key>Q266569</key>
			<array/>
			<key>Q2673402</key>
			<array>
				<string>urbanism</string>
			</array>
			<key>Q2722764</key>
			<array>
				<string>medias</string>
			</array>
			<key>Q27514986</key>
			<array>
				<string>music</string>
			</array>
			<key>Q28389</key>
			<array>
				<string>cinema</string>
			</array>
			<key>Q2860259</key>
			<array/>
			<key>Q2865819</key>
			<array>
				<string>music</string>
			</array>
			<key>Q2962070</key>
			<array>
				<string>cinema</string>
			</array>
			<key>Q3024627</key>
			<array>
				<string>medias</string>
			</array>
			<key>Q3055126</key>
			<array/>
			<key>Q3064032</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q3068305</key>
			<array/>
			<key>Q3128486</key>
			<array/>
			<key>Q3282637</key>
			<array>
				<string>cinema</string>
			</array>
			<key>Q329439</key>
			<array/>
			<key>Q33231</key>
			<array/>
			<key>Q333634</key>
			<array/>
			<key>Q3368718</key>
			<array>
				<string>research</string>
			</array>
			<key>Q3374326</key>
			<array>
				<string>art</string>
			</array>
			<key>Q3387717</key>
			<array>
				<string>theatre</string>
			</array>
			<key>Q33999</key>
			<array/>
			<key>Q3488528</key>
			<array/>
			<key>Q3499072</key>
			<array/>
			<key>Q350979</key>
			<array>
				<string>research</string>
			</array>
			<key>Q355242</key>
			<array/>
			<key>Q3579035</key>
			<array/>
			<key>Q3589290</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q36180</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q3621491</key>
			<array>
				<string>research</string>
			</array>
			<key>Q3658608</key>
			<array>
				<string>medias</string>
			</array>
			<key>Q36834</key>
			<array>
				<string>music</string>
			</array>
			<key>Q37226</key>
			<array/>
			<key>Q3922505</key>
			<array>
				<string>music</string>
			</array>
			<key>Q39631</key>
			<array>
				<string>research</string>
			</array>
			<key>Q40348</key>
			<array/>
			<key>Q4164507</key>
			<array>
				<string>art</string>
			</array>
			<key>Q4205432</key>
			<array>
				<string>research</string>
			</array>
			<key>Q4220892</key>
			<array>
				<string>cinema</string>
			</array>
			<key>Q4263842</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q42973</key>
			<array>
				<string>urbanism</string>
			</array>
			<key>Q43845</key>
			<array/>
			<key>Q4504549</key>
			<array/>
			<key>Q4610556</key>
			<array/>
			<key>Q47064</key>
			<array>
				<string>military</string>
			</array>
			<key>Q476246</key>
			<array/>
			<key>Q4773904</key>
			<array>
				<string>research</string>
			</array>
			<key>Q482980</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q483501</key>
			<array>
				<string>art</string>
			</array>
			<key>Q4853732</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q486748</key>
			<array>
				<string>music</string>
			</array>
			<key>Q488205</key>
			<array>
				<string>music</string>
			</array>
			<key>Q4964182</key>
			<array>
				<string>philosophy</string>
			</array>
			<key>Q49757</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q4991371</key>
			<array>
				<string>military</string>
			</array>
			<key>Q520549</key>
			<array>
				<string>research</string>
			</array>
			<key>Q5322166</key>
			<array/>
			<key>Q55187</key>
			<array/>
			<key>Q5716684</key>
			<array>
				<string>performing_arts</string>
			</array>
			<key>Q578109</key>
			<array>
				<string>medias</string>
			</array>
			<key>Q593644</key>
			<array>
				<string>research</string>
			</array>
			<key>Q599151</key>
			<array>
				<string>politics</string>
			</array>
			<key>Q6168364</key>
			<array>
				<string>music</string>
			</array>
			<key>Q623386</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q635734</key>
			<array/>
			<key>Q639669</key>
			<array>
				<string>music</string>
			</array>
			<key>Q644687</key>
			<array/>
			<key>Q650012</key>
			<array/>
			<key>Q6581072</key>
			<array>
				<string>women</string>
			</array>
			<key>Q6581097</key>
			<array>
				<string>men</string>
			</array>
			<key>Q6625963</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q674067</key>
			<array>
				<string>performing_arts</string>
			</array>
			<key>Q674426</key>
			<array/>
			<key>Q691522</key>
			<array/>
			<key>Q7042855</key>
			<array/>
			<key>Q728425</key>
			<array/>
			<key>Q7358</key>
			<array/>
			<key>Q753110</key>
			<array>
				<string>music</string>
			</array>
			<key>Q7622988</key>
			<array>
				<string>performing_arts</string>
			</array>
			<key>Q774306</key>
			<array>
				<string>research</string>
			</array>
			<key>Q806798</key>
			<array/>
			<key>Q80687</key>
			<array/>
			<key>Q81096</key>
			<array/>
			<key>Q8178443</key>
			<array/>
			<key>Q822146</key>
			<array>
				<string>music</string>
			</array>
			<key>Q82955</key>
			<array>
				<string>politics</string>
			</array>
			<key>Q83307</key>
			<array>
				<string>politics</string>
			</array>
			<key>Q855091</key>
			<array>
				<string>music</string>
			</array>
			<key>Q860918</key>
			<array/>
			<key>Q864380</key>
			<array>
				<string>literature</string>
			</array>
			<key>Q864503</key>
			<array>
				<string>research</string>
			</array>
			<key>Q885122</key>
			<array/>
			<key>Q901</key>
			<array>
				<string>research</string>
			</array>
			<key>Q901222</key>
			<array/>
			<key>Q9352089</key>
			<array>
				<string>military</string>
			</array>
			<key>Q947873</key>
			<array>
				<string>medias</string>
			</array>
			<key>Q957729</key>
			<array/>
			<key>Q974144</key>
			<array/>
			<key>Q989678</key>
			<array>
				<string>military</string>
			</array>
			<key>Q998550</key>
			<array/>
		</dict>
	</dict>
	<key>wikipedia</key>
	<dict>
		<key>extractSubstitutions</key>
		<array>
			<dict>
				<key>&lt;p&gt;&lt;/p&gt;</key>
				<string></string>
				<key>&lt;p&gt;&lt;br&gt;&lt;/p&gt;</key>
				<string></string>
				<key>&lt;p&gt;&lt;span&gt;&lt;/span&gt;&lt;/p&gt;</key>
				<string></string>
			</dict>
			<dict>
				<key>&lt;sup class=&quot;reference cite_virgule&quot;&gt;,&lt;/sup&gt;</key>
				<string></string>
				<key> (&lt;span&gt;&lt;span&gt;&lt;span&gt; &lt;/span&gt;listen&lt;/span&gt;&lt;/span&gt;)</key>
				<string></string>
				<key>(&lt;span&gt;&lt;/span&gt;, </key>
				<string>(</string>
				<key>(&lt;span&gt;&lt;/span&gt;; </key>
				<string>(</string>
				<key>&lt;br style=&quot;margin-bottom: 1ex;&quot;&gt;&lt;/p&gt;</key>
				<string>&lt;/p&gt;</string>
				<key>&lt;ul id=&quot;bandeau-portail&quot;</key>
				<string>&lt;ul id=&quot;bandeau-portail&quot; style=&quot;display: none;&quot;</string>
				<key> ,</key>
				<string>,</string>
				<key>&lt;span&gt;&lt;/span&gt; or &lt;span&gt;&lt;/span&gt;; </key>
				<string></string>
				<key> &lt;sup&gt;(&lt;/sup&gt;&lt;sup&gt;)&lt;/sup&gt;</key>
				<string></string>
				<key> &lt;span&gt;&lt;span&gt;&lt;span&gt; &lt;/span&gt;listen&lt;/span&gt; &lt;/span&gt;</key>
				<string></string>
				<key>&lt;p class=&quot;mw-empty-elt&quot;&gt;&lt;/p&gt;</key>
				<string></string>
			</dict>
			<dict>
				<key>&lt;p&gt;&lt;br&gt;&lt;/p&gt;</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>superLachaise</key>
	<dict>
		<key>categoriesNames</key>
		<dict>
			<key>art</key>
			<dict>
				<key>en</key>
				<string>art</string>
				<key>fr</key>
				<string>art</string>
			</dict>
			<key>cinema</key>
			<dict>
				<key>en</key>
				<string>cinema</string>
				<key>fr</key>
				<string>cinéma</string>
			</dict>
			<key>literature</key>
			<dict>
				<key>en</key>
				<string>literature</string>
				<key>fr</key>
				<string>littérature</string>
			</dict>
			<key>medias</key>
			<dict>
				<key>en</key>
				<string>medias</string>
				<key>fr</key>
				<string>médias</string>
			</dict>
			<key>men</key>
			<dict>
				<key>en</key>
				<string>men</string>
				<key>fr</key>
				<string>hommes</string>
			</dict>
			<key>military</key>
			<dict>
				<key>en</key>
				<string>military</string>
				<key>fr</key>
				<string>armée</string>
			</dict>
			<key>music</key>
			<dict>
				<key>en</key>
				<string>music</string>
				<key>fr</key>
				<string>musique</string>
			</dict>
			<key>performing_arts</key>
			<dict>
				<key>en</key>
				<string>performing arts</string>
				<key>fr</key>
				<string>spectacle vivant</string>
			</dict>
			<key>philosophy</key>
			<dict>
				<key>en</key>
				<string>philosophy</string>
				<key>fr</key>
				<string>philosophie</string>
			</dict>
			<key>politics</key>
			<dict>
				<key>en</key>
				<string>politics</string>
				<key>fr</key>
				<string>politique</string>
			</dict>
			<key>research</key>
			<dict>
				<key>en</key>
				<string>research</string>
				<key>fr</key>
				<string>recherche scientifique</string>
			</dict>
			<key>theatre</key>
			<dict>
				<key>en</key>
				<string>theatre</string>
				<key>fr</key>
				<string>théâtre</string>
			</dict>
			<key>urbanism</key>
			<dict>
				<key>en</key>
				<string>urban planning</string>
				<key>fr</key>
				<string>urbanisme</string>
			</dict>
			<key>women</key>
			<dict>
				<key>en</key>
				<string>women</string>
				<key>fr</key>
				<string>femmes</string>
			</dict>
		</dict>
		<key>databaseV1CustomMappings</key>
		<dict>
			<key>2</key>
			<string>Q5738</string>
			<key>72</key>
			<string>Q590823</string>
			<key>193</key>
			<string>Q3323370</string>
			<key>221</key>
			<string>Q274886</string>
			<key>222</key>
			<string>Q192428</string>
			<key>259</key>
			<string>Q266561</string>
		</dict>
	</dict>
	<key>export</key>
	<dict>
		<key>license</key>
		<string>http://opendatacommons.org/licenses/odbl/</string>
		<key>source</key>
		<string>https://github.com/MaximeLM/superlachaise-database</string>
	</dict>
</dict>
</plist>
