<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openStreetMap</key>
	<dict>
		<key>boundingBox</key>
		<array>
			<real>48.8575</real>
			<real>2.3877</real>
			<real>48.8649</real>
			<real>2.4006</real>
		</array>
		<key>fetchedTags</key>
		<array>
			<string>historic=tomb</string>
			<string>historic=memorial</string>
		</array>
	</dict>
	<key>wikidata</key>
	<dict>
		<key>languages</key>
		<array>
			<string>fr</string>
			<string>en</string>
		</array>
		<key>customSecondaryWikidataIds</key>
		<dict>
			<key>Q15860323</key>
			<array>
				<string>Q16204221</string>
			</array>
		</dict>
		<key>categories</key>
		<dict>
			<key>Q6581072</key>
			<array>
				<string>women</string>
			</array>
			<key>Q6581097</key>
			<array>
				<string>men</string>
			</array>
		</dict>
	</dict>
	<key>superLachaise</key>
	<dict>
		<key>categories</key>
		<array>
			<dict>
				<key>id</key>
				<string>men</string>
				<key>name</key>
				<dict>
					<key>fr</key>
					<string>hommes</string>
					<key>en</key>
					<string>men</string>
				</dict>
			</dict>
            <dict>
                <key>id</key>
                <string>women</string>
                <key>name</key>
                <dict>
                    <key>fr</key>
                    <string>femmes</string>
                    <key>en</key>
                    <string>women</string>
                </dict>
            </dict>
		</array>
		<key>databaseV1CustomMappings</key>
		<dict>
			<key>2</key>
			<string>Q5738</string>
			<key>72</key>
			<string>Q590823</string>
			<key>193</key>
			<string>Q3323370</string>
			<key>221</key>
			<string>Q274886</string>
			<key>222</key>
			<string>Q192428</string>
			<key>259</key>
			<string>Q266561</string>
		</dict>
	</dict>
	<key>export</key>
	<dict>
		<key>license</key>
		<string>http://opendatacommons.org/licenses/odbl/</string>
		<key>source</key>
		<string>https://github.com/MaximeLM/superlachaise-database</string>
	</dict>
</dict>
</plist>
